# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/alembic/__pycache__/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Docker
*.log

# OS
.DS_Store
Thumbs.db